<!-- templates/backdrop.html -->
<div class="CircleEffect SpreadCircle SpreadCircle1"></div>
<div class="CircleEffect SpreadCircle SpreadCircle2"></div>
<div class="CircleEffect SpreadCircle SpreadCircle3"></div>
<div class="CircleEffect SpreadCircle SpreadCircle4"></div>
<div class="CircleEffect SpreadCircle SpreadCircle5"></div>
<div class="CircleEffect SpreadCircle SpreadCircle6"></div>
<div class="CircleEffect SpreadCircle SpreadCircle7"></div>
<div class="CircleEffect SpreadCircle SpreadCircle8"></div>
<div class="CircleEffect SpreadCircle SpreadCircle9"></div>
<div class="CircleEffect SpreadCircle SpreadCircle10"></div>
<div class="CircleEffect SpreadCircle SpreadCircle11"></div>
<div class="CircleEffect SpreadCircle SpreadCircle12"></div>
<div class="CircleEffect SpreadCircle SpreadCircle13"></div>
<div class="CircleEffect SpreadCircle SpreadCircle14"></div>


